In [ ]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout,Activation,Flatten,Conv2D,MaxPooling2D
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras import datasets, layers, models
from sklearn.model_selection import train_test_split

In [2]:
df_emoji = pd.read_csv('emojis.csv')
# df_test = pd.read_csv('/content/gdrive/MyDrive/emnist-balanced-test.csv')
df = pd.read_csv('emnist-bymerge-train.csv')

In [4]:
df

,24,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.431,0.432,0.433,0.434,0.435,0.436,0.437,0.438,0.439,0.440
0,36,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,35,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697926,45,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697927,25,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697928,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697929,36,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
697930,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df_emoji

,3,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.661,0.662,0.663,0.664,0.665,0.666,0.667,0.668,0.669,0.670
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7768,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7769,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7770,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7771,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7772,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
x_train = df.T[1:].T

y_train = df.T.head(1).T
y_train = y_train.to_numpy(dtype='int64').flatten()

x_train_temp = x_train.to_numpy()
y_train_temp = y_train

x_train = []
y_train = []

c = 0 
for i in x_train_temp:
  if y_train_temp[c]>9:
    x_train.append(i.reshape((28,28)).T)
    y_train.append(y_train_temp[c])
  c+=1
  
x_train_letters = list(x_train)
y_train_letters = list(y_train)

########################################################

x_train = df_emoji.T[1:].T

y_train = df_emoji.T.head(1).T
y_train = y_train.to_numpy(dtype='int64').flatten()

x_train_temp = x_train.to_numpy()
y_train_temp = y_train

x_train = []
y_train = []

c = 0 
for i in x_train_temp:
  if True:
    x_train.append(i.reshape((28,28)))
    y_train.append(y_train_temp[c])
  c+=1

x_train_emojis = list(x_train)
y_train_emojis = list(y_train)

########################################################


x_train = x_train_letters
y_train = y_train_letters

x_train.extend(x_train_emojis)
y_train.extend(y_train_emojis)

x_train = np.array(x_train)
y_train = np.array(y_train)

print(x_train.shape)
print(y_train.shape)

(360278, 28, 28)
(360278,)

In [8]:
data = x_train
labels = y_train

x_train,x_test,y_train,y_test = train_test_split(data,labels,test_size=0.15,shuffle=True)

In [10]:
x_train = x_train / 255.0
x_test = x_test / 255.0

In [ ]:
cnn = models.Sequential([
                         

    layers.Conv2D(filters=64, kernel_size=(3, 3),strides=(1,1), padding='valid', activation='relu', input_shape=(28, 28, 1)),
    layers.MaxPooling2D((2,2)),
    
    layers.Conv2D(filters=32, kernel_size=(3, 3), activation='relu'),
    layers.MaxPooling2D((2, 2)),

    layers.Conv2D(filters=16, kernel_size=(3, 3), activation='relu'),
    layers.MaxPooling2D((2, 2)),
    
    layers.Flatten(),
    layers.Dense(64, activation='relu'),
    layers.Dense(47, activation='softmax')
])

cnn.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

cnn.fit(x_train, y_train, epochs=5,validation_data=(x_test,y_test))

In [ ]:
cnn.evaluate(x_test,y_test)

In [ ]:
cnn.save('/content/model1.h5')